#nav ul li a{
    text-decoration: none;
    color:white;
}
#nav{
    background-color: black;
    overflow: auto;
}
#logo{
    height: 80px;
    width: 100px;
    float: left;
}
#nav ul{
    color: white;
    float: right;
}
ul{
    margin-top: 20px;
}
ul li{
    padding: 20px;
    list-style-type: none;
    display: inline;
}
#main{
    background-image: url("images/main.jpg");
    background-size: cover;
}
#main-content{
    padding: 200px;
    text-align: center;
    color: white;
}
#details-btn{
    color: white;
    background-color: red;
    padding: 10px;
    border: none;
}
#bottom,#footer{
    text-align: center;
    padding: 20px 100px 20px 100px;
}
#footer ul li a{
    color: black;
    text-decoration: none;
}
#who{
    font-size: 50px;
    font-weight: bold;
}

/* contact us page */
#contact-us-main{
    background-color: aliceblue;
}
#contact-us-div{
    width: 40%;
    margin: auto;
}
#contact-form{
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}